@charset "UTF-8";
/* CSS Document */

html, body {
	background-color: black;
	color: white;
	font-family: "RobotoMonoBold";
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a:link {
	text-decoration: none;
}

/* External Fonts */

@font-face {
	font-family: "Arial Bold";
	src: url("fonts/ArialBold.ttf") format("truetype");
}

@font-face {
	font-family: "Orator";
	src: url("fonts/OratorStd.otf") format("truetype");
}

@font-face {
	font-family: "RobotoMonoThin";
	src: url("fonts/RobotoMono-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoMonoLight";
	src: url("fonts/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoMonoMedium";
	src: url("fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoMonoBold";
	src: url("fonts/RobotoMono-Bold.ttf") format("truetype");
}

/* Navigation */

.nav {
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.nav a {
	display: block;
	float: left;
	color: white;
	font-family: "RobotoMonoMedium";
	text-align: center;
	letter-spacing: 1px;
	padding: 15px 25px;
	text-decoration: none;
	font-size: 17px;
	transition: .3s;
}

.nav .active {
	color: #dddddd;
	
}

.nav a:hover {
	color: #bbbbbb;
}

/* Slideshow */

.slideshow {
	padding-top: 100px;
	padding-left: 100px;
	text-align: left;
	/* background-image: url(https://imgur.com/yRN6Bfq.png); */
	background-image: url(../images/FaceOutline-01.svg);
	height: 1000px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.big_text {
	padding-top: 100px;
	font-size: 300px;
	text-align: center;
	color: white;
}

/* Buttons */

.openButton {
	width: 100%;
	background-color: #111111;
	color: white;
	font-family: "RobotoMonoMedium";
	font-size: 15px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 30px;
	text-decoration: none;
	border-style: solid;
	border-color: white;
	border-width: .5px;
}

.circleButtonContainer {
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 0px;
	text-align: center;
	min-height: 200px;
	background-color: black;
}

.circleInstagram {
	text-align: center;
	min-width: 40px;
	min-height: 150px;
	width: 100%;
	padding-bottom: 50%;
	background-image: url(./buttons/circleButtons/white_instagram.svg);
	background-position: center;
    background-repeat: no-repeat;
	background-size: 20%;
	transition: .3s;
}

.circleVsco {
	text-align: center;
	min-width: 40px;
	min-height: 150px;
	width: 100%;
	padding-bottom: 50%;
	background-image: url(./buttons/circleButtons/white_vsco.svg);
	background-position: center;
    background-repeat: no-repeat;
	background-size: 20%;
	transition: .3s;
}

.circleGithub {
	text-align: center;
	min-width: 40px;
	min-height: 150px;
	width: 100%;
	padding-bottom: 50%;
	background-image: url(./buttons/circleButtons/white_github.svg);
	background-position: center;
    background-repeat: no-repeat;
	background-size: 20%;
	transition: .3s;
}

.circleLinkedin {
	text-align: center;
	min-width: 40px;
	min-height: 150px;
	width: 100%;
	padding-bottom: 50%;
	background-image: url(./buttons/circleButtons/white_linkedin.svg);
	background-position: center;
    background-repeat: no-repeat;
	background-size: 20%;
	transition: .3s;
}

.circleInstagram:hover {
	background-image: url(./buttons/circleButtons/black_instagram.svg);
	background-color: white;
}
.circleVsco:hover {
	background-image: url(./buttons/circleButtons/black_vsco.svg);
	background-color: white;
}
.circleLinkedin:hover {
	background-image: url(./buttons/circleButtons/black_linkedin.svg);
	background-color: white;
}
.circleGithub:hover {
	background-image: url(./buttons/circleButtons/black_github.svg);
	background-color: white;
}

.circleButton .circleInstagram {

}

.circleButton .circleVsco {

}

.circleLinkedin {

}

.circleGithub {

}

/* Content */

.contentContainer {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	width: 100%;
	padding: 0px;
	color: white;
}

.contentHeader {
	padding: 50px;
	font-size: 90px;
	color: white;
	background-color: black;
	background-image: linear-gradient(#111111, black);
}

.contentImage {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
}

.contentImage2 {
	width: 50%;
	margin: auto;
	padding: 70px;
}

.contentBox {
	color: white;
	padding: 40px;
    min-width: 100px;
	margin: 0px;
    height: auto;
	vertical-align:top;
	text-align:left;
	border-color: white;
	border-width: .05px;
	overflow: auto;
	transition: .3s;
}

.contentBox:hover {
	background-color: white;
	color: black;
}

.title {
	padding: 10px;
	font-size: 35px;
}

.category {
	font-family: "RobotoMonoLight";
	padding: 10px;
}

.description {
	font-family: "RobotoMonoMedium";
	font-size: 12px;
}

.links {
	min-height: 100px;
}

.panelsContainer {
	margin-top: 60px;
	overflow: auto;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: auto auto auto;
	width: 100%;
}

.panel {
	padding: 0px;
	min-width: 100px;
	height: auto;
	overflow: hidden;
	vertical-align: top;
	text-align: left;
	object-fit: contain;
	transition: .3s;
}

.panel img {
	width: 100%;
	transition: .3s;
}

.panel img:hover {

}

/* Project */

.projectTitle {
	text-align: center;
	padding: 50px;
	font-size: 90px;
	color: white;
	background-color: black;
	cursor: url("http://prescottcomputerguy.com/screenflow/ScreenFlowShapes/shapes/arrow_white.png"), auto;	
}

/* Footer */

.footer {
	text-align: center;
	font-family: "RobotoMonoLight";
	width: 100%;
	min-height: 70px;
	padding-top: 15px;
	background-color: #1c1c1c;
	color: white;
}

/* Media Queries */

/* Phones */
@media only screen and (max-width: 599px) {
	.contentContainer {
		display: grid;
		grid-template-columns: auto;
	}

	.contentBox {
		padding-bottom: 0px;
		min-height: 475px;
		padding: 30px;
		background-color: #111111;
		margin: 10px;
		margin-bottom: 0px;
	}

	.contentHeader {
		padding: 30px;
		font-size: 50px;
		background-image: linear-gradient(#000000, #000000);
	}

	.slideshow {
		height: 600px;
	}

	.title {
		font-family: "Arial Bold";
		padding: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 35px;
	}
	
	.category {
		font-family: "Orator";
		padding: 0px;
		padding-top: 15px;
	}
	
	.description {
		font-size: 10px;
	}

	.circleButtonContainer {
		grid-template-columns: auto auto;
		grid-gap: 10px;
	}

	.circleInstagram {
		background-color: #111111;
	}

	.circleVsco {
		background-color: #111111;
	}

	.circleGithub {
		background-color: #111111;
	}

	.circleLinkedin {
		background-color: #111111;
	}

	.panelsContainer {
		grid-template-columns: auto;
	}
}

/* Tablet Portrait and Up */
@media only screen and (min-width: 600px) {
    .example {background: green;}
}

/* Tablet Landscape and Up */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
} 

/* Desktop and Up */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
} 

/* Big Desktop and Up */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}
}